html,
body {
    padding: 0;
    margin: 0;
    color: #292929;
    background-color: #eaeaea;
}

.logo {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.finder {
    border: 1px solid #fff;
    background-color: #f6f5f0;
    border-radius: 15px;
    padding: 8px;
    box-shadow: 9px 9px 16px rgba(189, 189, 189, 0.6),
        -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.finder__outer {
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: inset 10px 10px 15px -10px #c3c3c3,
        inset -10px -10px 15px -10px #ffffff;
}

.finder__input {
    cursor: text;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 15px;
    letter-spacing: 0.75px;
}

.finder__button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 10px;
    box-shadow: inset 0 0 0 20px #292929;
    border-radius: 50%;
    position: relative;
}

.character {
    display: flex;
    justify-content: center;
    color: #292929;
}

.character--error {
    color: #b40d0d;
}
