body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: rgb(214, 214, 214);
    color: white;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 30px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.search {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
}

input {
    padding: 15px 10px;
    outline: none;
    width: 40vw;
}

.li-container {
    background-color: white;
    width: 100%;
    color: darkslategray;
    margin-top: 20px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
}

li p {
    margin: 0;
    padding: 15px;
    width: 100%;
}

.btn-delete {
    margin-left: auto;
    border: none;
    background-color: #e31746;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 10%;
    font-size: 1.2em;
}

.btn-delete:hover {
    cursor: pointer;
    background-color: lightseagreen;
}

.btn-add {
    padding: 5px 15px;
    border: none;
    color: white;
    font-family: fantasy;
    background-color: teal;
    font-size: 1.4rem;
    outline: none;
}

.btn-add:hover {
    cursor: pointer;
    background-color: darkcyan;
}

.empty {
    color: darkslategrey;
}
